/* colors
	https://convertingcolors.com/hex-color-283584.html?search=Hex(283584)
	https://convertingcolors.com/hex-color-223184.html?search=Hex(223184) (originale du logo)
	#283584 bleu base
	#1e2237 bleu bord dégradé
	#6c2700 orange sombre (compléemnaire bleu base)
*/

header { color: #6c2700; }
.header-home,
.headline-wrapper { background: radial-gradient(circle, #283584, #1e2237); border-top-color: transparent; }
.header-logo-wrapper { left: -40px; }
.header-logo,
.header-logo:hover { color: #283584; }
.header-logo-img { width: 50px; height: auto; }
.header-logo--white,
.header-logo--white:hover { color: #fff; }
.header-logo-rwd { width: 45px; }
.banner-nav a { color: #6c2700; }
@media (min-width: 1200px) {
	.banner-nav a { margin-right: 1.8rem; }
}
.banner-nav a.on,
.banner-nav a:hover { /* color: #1732cf; */ }
.navbar { background-color: #283584; }
.footer { background-color: #222a58; }
.footer-row-1 { border-bottom-color: #495288; }
@media (max-width: 768px) {
	.footer-col-1 { justify-content: center; } /* si on n'affiche pas de lien dans le footer cf #CONFIG{sendagi/footer_articles} */
}

/* topnav */
body { padding-top: 41px; }
.topmenu { position: absolute; top: 0; left: 0; right: 0; }
@media (max-width: 768px) {
	body { padding-top: 0; }
	.topmenu { display: none; }
}
/* temp fix pour topnav avant suppression de la classe .nav sur celle-ci */
.topmenu .menu-items { display: block; }
/* sendagi a une classe date un peu trop évasive, BEM ou spécificité... */
.topmenu .date,
.modele_outils_libres .date { margin-top: initial; }

/* .btn-sendagi { background-color: #54a528; } si on souhaite y coller un peu de vert du logo, mais bof */

.modele_outils_libres .item { margin: 1rem 0; text-align: center; }
.modele_outils_libres .item a { color: #4b4b4b; text-decoration: none; }
.modele_outils_libres .item a:hover { color: #ff5400; }

.article-texte a.btn { text-decoration: none; color: #fff; }
.article-texte a.btn:hover { background-color: #8f4018; }