<BOUCLE_menu(MENUS){id_menu=33}>
<B_entrees>
<ul class="modele_outils_libres list-unstyled row">
	<BOUCLE_entrees(MENUS_ENTREES){id_menu}{par rang}>[(#SET{parametres,#PARAMETRES|unserialize})]
	<li class="item col-md-3 col-sm-4 col-6">
		<a href="#GET{parametres/url}"><i class="custom-icon[ (#GET{parametres/css_lien}|replace{custom-icon-inline,''})]"></i>#GET{parametres/titre}</a>
	</li>
	</BOUCLE_entrees>
</ul>
</B_entrees>
</BOUCLE_menu>
#FILTRE{trim}
