<B_json>
<ul class="spip">
<BOUCLE_json(DATA){source json, https://radios.infini.fr:8443/infini.json}>
	<li>
		#VALEUR{nom}
		<ul class="spip">
			<li><a href="#VALEUR{m3u_ssl}">M3U</a> | <a href="#VALEUR{xspf_ssl}">XSPF</a> | [(#VALEUR{url}|expanser_liens)]</li>
		</ul>
	</li>
</BOUCLE_json>
</ul>
</B_json>