[(#REM)
	pied de page

	param:
		(aucun)


]<!-- footer -->
<footer class="footer">
	<div class="container">
		[<div class="go-top">
			<a href="#top"><img src="(#CHEMIN{img/but-top.png})" alt="haut de page" width="50" height="50" /></a>
		</div>]

		[(#CONFIG{sendagi/affiche_recherche}|oui)
		<!-- footer-row-1 -->
		<div class="row justify-content-center footer-row-1">
			<div class="col-10">
				#FORMULAIRE_RECHERCHE
			</div>
		</div>]

		<!-- footer-row-2 -->
		<div class="row footer-row-2">
			<div class="footer-col footer-col-1">
				<img src="#CHEMIN{img/logo-sendagi-whitemono.svg}" alt="#NOM_SITE_SPIP" width="80" height="80" class="footer-logo" />

				<B_art_lien><ul class="footer-link">
				<BOUCLE_art_lien(ARTICLES){id_article IN #CONFIG{sendagi/footer_articles}|picker_selected{article}}>
					<li><a href="#URL_ARTICLE">#TITRE</a></li>
				</BOUCLE_art_lien>
				</ul></B_art_lien>
			</div>

			<div class="footer-col footer-col-2">
				<div class="footer-copy">#NOM_SITE_SPIP</div>
				[<div class="footer-descriptif-site">(#SLOGAN_SITE_SPIP)</div>]
			</div>
		</div>
	</div>
</footer>
<!-- #footer -->
<nav class="topmenu">
	<INCLURE{fond=inclure/menu,identifiant=topmenu}>
</nav>
